var date = getDate()

function todayCourseFilter(courseList) {
  var today = date.getDay()
  var res = []
  for (var i = 0; i < courseList.length; i++) {
    if (courseList[i].node.charAt(0) == today) {
      res.push(courseList[i])
    }
  }
  return res
}

function transformCourseNode(node) {
  var nodeList = node.split('&')
  var start = nodeList[0].charAt(2)
  var end = nodeList[1].charAt(2)
  return start + "-" + end
}

module.exports = {
  todayCourseFilter: todayCourseFilter,
  transformCourseNode: transformCourseNode
}
