var date = getDate()
var week = ["日", "一", "二", "三", "四", "五", "六"]
function todayCourseFilter(courseList) {
  var today = date.getDay()
  var res = []
  for (var i = 0; i < courseList.length; i++) {
    if (courseList[i].node.charAt(0) == today) {
      res.push(courseList[i])
    }
  }
  return res
}

function transformCourseNode(node) {
  var nodeList = node.split('&')
  var start = nodeList[0].charAt(2)
  var end = nodeList[1].charAt(2)
  return start + "-" + end
}

function hasCourseThisWeek(lesson, thisWeek) {
  var week = lesson.data.week.split(',')
  for (var i = 0; i < week.length; i++) {
    if (week[i] == thisWeek) {
      return true
    }
  }
  return false
}

module.exports = {
  todayCourseFilter: todayCourseFilter,
  transformCourseNode: transformCourseNode,
  hasCourseThisWeek: hasCourseThisWeek
}
